body{
    background-image: url(images/gaston-abascal-8F-6pXyQyLU-unsplash.jpg);
    background-size: 1800px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover ;
}