.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: rgb(80, 80, 148);
    color: azure;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-emphasis: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: rgb(72, 24, 24);
    min-width: 100px;
    box-shadow: 2px 2px 5px rgb(221, 117, 223);
}
.dropdown:hover .content{
    display:block;
}
.dropdown:hover .button{
    background-color: azure;
}
.dropdown:hover{
    background-color: azure;
}
