h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: aquamarine;
}
p::selection{
    color: aliceblue;
    background-color: blueviolet;
}
#fruit li::before{
    content: "😈";
}
#apple::after{
    content: "😄";
}
#orange::after{
    content: "😙";
}